<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecommerce.servercommon.domain.product.ProductDao">
    <!-- product 삽입 -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="Product">
        INSERT INTO product (_id, seller_id, name, price)
        VALUES(#{id}, #{sellerId}, #{name}, #{price})
    </insert>

    <!--id로 조회 -->
    <select id="findById" resultMap="selectProductMap" parameterType="Long">
        SELECT * FROM product
        WHERE _id = #{id}
    </select>

    <!--id로 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM product
        WHERE _id = #{id}
    </delete>

    <!--product 수정 -->
    <update id="update" parameterType="Product">
        UPDATE product
        SET name = #{name},
            seller_id = #{sellerId},
            price = #{price}
        WHERE _id = #{id}
    </update>

    <!--모든 product find -->
    <select id="findAll" resultMap="selectProductMap">
        SELECT * FROM product
    </select>

    <!--상품 판매자 이메일 find -->
    <select id="findSellerById" resultMap="selectUserMap">
        SELECT * FROM user
        WHERE _id = (
            SELECT seller_id FROM product
            WHERE _id = #{id}
            )
    </select>

    <!-- 상품 resultMap -->
    <resultMap id="selectProductMap" type="Product">
        <result column="_id" property="id"/>
        <result column="seller_id" property="sellerId"/>
        <result column="name" property="name"/>
    </resultMap>

    <!-- 유저 resultMap -->
    <resultMap id="selectUserMap" type="User">
        <result column="_id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="address" property="address"/>
        <result column="point" property="point"/>
    </resultMap>
</mapper>