<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecommerce.servercommon.domain.product.ProductDetailsDao">
    <!-- productDetails 삽입 -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="ProductDetails">
        INSERT INTO product_details (_id, product_id, rating, sell_count, review_count, stock)
        VALUES(#{id}, #{productId}, #{rating}, #{sellCount}, #{reviewCount}, #{stock})
    </insert>

    <!-- productDetails 수정 -->
    <update id="update" parameterType="ProductDetails">
        UPDATE product_details
        SET product_id = #{productId},
            rating = #{rating},
            sell_count = #{sellCount},
            review_count = #{reviewCount},
            stock = #{stock}
        WHERE
            _id = #{id}
    </update>

    <!--id로 조회 -->
    <select id="findById" resultMap="selectProductDetailsMap" parameterType="Long">
        SELECT * FROM product_details
        WHERE _id = #{id}
    </select>

    <!--id로 조회 -->
    <select id="findByProductId" resultMap="selectProductDetailsMap" parameterType="Long">
        SELECT * FROM product_details
        WHERE product_id = #{productId}
    </select>

    <!--id로 조회 -->
    <select id="findByOrderId" resultMap="selectProductDetailsMap" parameterType="Long">
        SELECT * FROM product_details
        WHERE product_id = (
            SELECT product_id FROM product_order
            WHERE _id = #{orderId}
            )
    </select>

    <!--id로 조회 -->
    <select id="findProductWithDetailsByProductId" resultMap="selectProductWithDetailsMap" parameterType="Long">
        USE ecommerce;
        SELECT * FROM
            (
                SELECT p1._id as _id,
                p2._id as details_id,
                seller_id as seller_id,
                name as name,
                price as price,
                rating as rating,
                sell_count as sell_count,
                review_count as review_count,
                stock as stock

                FROM product_details p2
                INNER JOIN product p1
                ON p2.product_id = p1._id
            ) AS result
        WHERE _id = 7
    </select>

    <!--id로 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM product_details
        WHERE _id = #{id}
    </delete>

    <!-- 판매 수 1 증가 -->
    <update id="incrementSellCountByProductId" parameterType="Long">
        UPDATE product_details
        SET sell_count = sell_count + 1
        WHERE product_id = #{productId}
    </update>

    <!-- 리뷰 수 1 증가 -->
    <update id="incrementReviewCountByProductId" parameterType="Long">
        UPDATE product_details
        SET review_count = review_count + 1
        WHERE product_id = #{productId}
    </update>

    <!-- 수량 업데이트 -->
    <update id="updateSellCountAndStockByProductId" parameterType="HashMap">
        UPDATE product_details
        SET sell_count = sell_count + #{quantity},
            stock = stock - #{quantity}
        WHERE product_id = #{productId}
    </update>


    <!-- 상품 resultMap -->
    <resultMap id="selectProductDetailsMap" type="ProductDetails">
        <result column="_id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="rating" property="rating"/>
        <result column="sell_count" property="sellCount"/>
        <result column="review_count" property="reviewCount"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <!-- pwd resultMap -->
    <resultMap id="selectProductWithDetailsMap" type="ProductWithDetailsDto">
        <result column="_id" property="id"/>
        <result column="details_id" property="detailsId"/>
        <result column="seller_id" property="sellerId"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="rating" property="rating"/>
        <result column="sell_count" property="sellCount"/>
        <result column="review_count" property="reviewCount"/>
        <result column="stock" property="stock"/>
    </resultMap>
</mapper>