<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecommerce.servercommon.domain.order.OrderDao">
    <!-- product 삽입 -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="Order">
        INSERT INTO product_order (_id, product_id, buyer_id, order_time, address, quantity, order_status)
        VALUES(#{id}, #{productId}, #{buyerId}, #{orderTime}, #{address}, #{quantity}, #{orderStatus.value})
    </insert>

    <!--id로 조회 -->
    <select id="findById" resultMap="selectOrderMap" parameterType="Long">
        SELECT * FROM product_order
        WHERE _id = #{id}
    </select>

    <!--id로 삭제 -->
    <select id="deleteById" parameterType="Long">
        DELETE FROM product_order
        WHERE _id = #{id}
    </select>

    <!--product 수정 -->
    <select id="update" parameterType="Product">
        UPDATE product_order
        SET product_id = #{productId},
            buyer_id = #{buyerId},
            order_time = #{orderTime},
            address = #{address},
            quantity = #{quantity},
            order_status = #{orderStatus.value}
        WHERE _id = #{id}
    </select>

    <!--모든 product find -->
    <select id="findAll" resultMap="selectOrderMap">
        SELECT * FROM product_order
    </select>

    <!-- resultMap -->
    <resultMap id="selectOrderMap" type="Order">
        <result column="_id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="order_time" property="orderTime"/>
        <result column="address" property="address"/>
        <result column="quantity" property="quantity"/>
        <result column="order_status" property="orderStatus.value"/>
    </resultMap>
</mapper>