<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecommerce.servercommon.domain.review.ReviewDao">
    <!-- review 삽입 -->
    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="Review">
        INSERT INTO review (_id, order_id, reviewer_id, star, review)
        VALUES(#{id}, #{orderId}, #{reviewerId}, #{star}, #{review})
    </insert>

    <!-- id로 조회 -->
    <select id="findById" parameterType="Long" resultMap="selectReviewMap">
        SELECT * FROM review
        WHERE _id = #{id}
    </select>

    <!-- id로 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM review
        WHERE _id = #{id}
    </delete>

    <!-- resultMap -->
    <resultMap id="selectReviewMap" type="Review">
        <result column="_id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="reviewer_id" property="reviewerId"/>
        <result column="star" property="star"/>
        <result column="review" property="review"/>
    </resultMap>
</mapper>